.App {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.options {
	align-items: center;
	justify-content: center;
	padding: 10px;
	background-color: gray;
	font-weight: 700;
	height: 100vh;
}

.editor {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background-color: blueviolet;
	height: 100vh;
}
